/* General Colors */
:root{
    --main: #5343c9;
    --main-b5:#5343c9b5;
    --main-80: #5343c980;
    --sub: #ada3e5;
    --shadow: #e8e7f0;
    --shadow1: #cbcad3;
    --shadow2: #f5f5f5;
    --bar:#5150cbeb;
    --bg: #f6f4ff;

    --green: #65cb50eb;
    --red:#cb5f50eb;
    --yellow: #cbc550eb;
    --cyan: #50cbb2eb;
}
/* General */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    background: var(--bg);
    width: 100%;
    height: 100%;
    font-family: 'Poppins', sans-serif !important;
}

select{
    font-size: 1rem;
    border: none;
    color:var(--main-b5);
    outline: none;
    margin: 0 5px;
    border-radius: 2px;
}
option{
    font-size: 1rem;
}

button{
    background-color: white;
    outline: none;
    border: 1px dashed var(--shadow);
    margin: 0 5px;
    padding: 1px 4px;
    border-radius: 2px;
    color: var(--main);
    cursor: pointer;
}
button:hover{
    background-color: var(--main);
    color: white;
}

input[type="number"]{
    outline: none;
    color: var(--main);
    text-align: center;
}
input[type="range"]{
    -webkit-appearance: none;
    height: 8px;
    border-radius: 5px;
    background-color: var(--sub);
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background-color: var(--main);
  }


label{
    color: var(--main);
}

/* hidde number arrows */
input[type='number']::-webkit-inner-spin-button, 
input[type='number']::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    margin: 0;
}
/* Custom Classes */
.title{
    color: var(--bg);
    margin-right: 15px;
}
.title2{
    color: var(--bar);
    text-decoration: underline;
}

.up-select{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: linear-gradient(-90deg,var(--main),var(--sub));
    box-shadow: 0px 0px 10px var(--main);
    padding:15px 0;
    width: 100%;
    height: 75px;
}

.margin-center{
    margin: 3rem 2rem 0;
}

/* Containers & Bar classes*/
.container{
    border-radius: 5px 5px 0 0;
    width: inherit;
    display: flex;
    justify-content: center;
    min-height: 305px;
    border: 2px double var(--shadow);
    border-bottom: 1px double var(--main-b5);
}

#dinamic-bars{
    display: flex;
    align-items: flex-end;
    width: 100%;
    background-color: var(--shadow2);
}

#dinamic-bars .bar{
    width: 100%;
    /* height: random added on script.js -> randomizeBars() */
}

.bar{
    background-color: var(--bar);
    margin: 0 2px;
    transition-property: background-color, height;
    transition: 0.15s ease-out;
}

.line{
    width: inherit;
    height: 12px;
    margin-bottom:0.1rem;
    /* gradient horizontal -> left to right */
    background: linear-gradient(180deg, var(--shadow) 40%,var(--bg) 100%); 
}
.general{
    margin: 8px 0;
    padding: 0 0 20px 0;
    display: flex;
    flex-direction: column;
    flex-direction: row;
}

.parameters{
    border: 1px solid var(--shadow1);
    border-radius: 0 0 5px 0 ;
    width: 100%;
    padding: 10px;
    background-color: var(--shadow);
}
.info-params{
    display: grid;
    min-height: 70%;
}
.repo{
    display: flex;
    justify-content: center;
    min-height: 30%;
}
.param-nbar{
    display: flex;
    flex-direction: column;
}
.param-nheight-ndelay{
    display: flex;
    margin: 18px 0 18px 0;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.info-colors{
    padding: 10px 10px 0px 10px;
    background-color: #f3f2f9;
    border: 1px solid #d8d8db;
    border-radius: 0 0 0 5px;
    width: 100%;
    min-width: 280px;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
}
.info-color{
    color: var(--main);
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
}
.info-color-grid1{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}
.info-color-grid2{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}
.mini-box{
    display: block;
    margin: 0;
    width: 15px;
    height: 15px;
    background-color: var(--red);
}

.container-var{
    display: flex;
    justify-content: space-between;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    margin: 1rem 0 0;
    min-height: 305px;
}
.container-temp{
    background-color: #f7f5ff;
    height: inherit;
    width: 50%;
    margin: 0px 10px;
    border: 2px dashed var(--main-80);
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.b{
    position: relative;
    top:2px;
    background-color: var(--red);
    height: 100px;
    width: 70%;
    transition-property: background-color, height;
    transition: 0.15s ease-out;
}
.temp{
    background-color: var(--red);
}
.next-value{
    background-color: var(--yellow);
}

/* Popup content -> Used when something is running */
.popup{
    margin-top: 20px;
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    border-radius: 3px;
    text-align: center;
    background-color: var(--main-80);
    backdrop-filter: blur(3.5px);
    width: 400px;
    height: 90px;
}
.popup-blur{
    height: inherit;
}
.popup-content{
    padding: 10px 0 0 0;
    color: white;
    font-weight: 600;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.popup-progress-bar{
    background-color: #9e71ff;
    border-radius: 4px;
    width: 1%;
    height: 15px;
}

.popup-content-text{
    margin: 0 10px;
}
.popup-content-text span{
    color: var(--main);
}

.hidden{
    display: none;
}

/* Responsive Tablet */
@media (min-width: 450px) and (max-width: 950px){
    h1{ font-size: 1rem;}
    select, option{ font-size: 0.9rem;}
    .popup{width: 300px; height: 65px;}
    .popup-content{font-size: 0.85rem;}
    .general{flex-direction: column;}
}

@media (min-width: 600px) and (max-width: 950px){
    .general{ flex-direction: row;}
    .param-nheight-ndelay{justify-content: center;}
    .nd{    display: flex;
        flex-direction: column;}
}

@media (min-width: 450px) and (max-width: 600px){
    .parameters{padding: 20px 10px 10px 10px;}
    .info-colors{border-radius: 0 0 0 0;border-bottom: none;}
    .parameters{border-radius: 0 0 5px 5px;}

}

/* Responsive Mobile */
@media (max-width: 450px){
    h1{font-size: 0.85rem;}
    select, option{ font-size: 0.8rem;}
    p{font-size: 0.65rem;}
    label{font-size: 0.7rem;}
    .popup{width: 300px;height: 50px;}
    .popup-content{font-size: 0.75rem;}
    .general{align-items: center;flex-direction: column}
    .info-colors{border-radius: 0 0 0 0;border-bottom: none;}
    .parameters{padding: 20px 10px 10px 10px;}
}